.rightbtn-ayubowan {
  min-width: 110px;
  background: linear-gradient(to right, #ff3019 0%, #c90477 100%);
  padding: 1rem 2rem;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  transition: all 0.2s ease-in-out;
  margin-right: 10px;
  position: absolute;
  top: 300px;
  right: 54px;
  align-self: center;
  font-family: system-iu, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 25px 20px -15px rgba(0, 0, 0, 0.9);
}

.rightbtn-brille {
  min-width: 110px;
  background: linear-gradient(to right, #ff3019 0%, #c90477 100%);
  padding: 1rem 2rem;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  transition: all 0.2s ease-in-out;
  margin-right: 10px;
  position: absolute;
  top: 445px;
  right: 54px;
  align-self: center;
  font-family: system-iu, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 25px 20px -15px rgba(0, 0, 0, 0.9);
}

.rightbtn-gleeful {
  min-width: 110px;
  background: linear-gradient(to right, #ff3019 0%, #c90477 100%);
  padding: 1rem 2rem;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  transition: all 0.2s ease-in-out;
  margin-right: 10px;
  position: absolute;
  top: 230px;
  right: 54px;
  align-self: center;
  font-family: system-iu, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 25px 20px -15px rgba(0, 0, 0, 0.9);
}

.rightbtn-katarino {
  min-width: 110px;
  background: linear-gradient(to right, #ff3019 0%, #c90477 100%);
  padding: 1rem 2rem;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  transition: all 0.2s ease-in-out;
  margin-right: 10px;
  position: absolute;
  top: 370px;
  right: 54px;
  align-self: center;
  font-family: system-iu, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 25px 20px -15px rgba(0, 0, 0, 0.9);
}

.rightbtn-maue {
  min-width: 110px;
  background: linear-gradient(to right, #ff3019 0%, #c90477 100%);
  padding: 1rem 2rem;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  transition: all 0.2s ease-in-out;
  margin-right: 10px;
  position: absolute;
  top: 250px;
  right: 200px;
  align-self: center;
  font-family: system-iu, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 25px 20px -15px rgba(0, 0, 0, 0.9);
}

.rightbtn-nobu {
  min-width: 110px;
  background: linear-gradient(to right, #ff3019 0%, #c90477 100%);
  padding: 1rem 2rem;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  transition: all 0.2s ease-in-out;
  margin-right: 10px;
  position: absolute;
  top: 30px;
  right: 54px;
  align-self: center;
  font-family: system-iu, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 25px 20px -15px rgba(0, 0, 0, 0.9);
}

.leftbtn-pec {
  min-width: 110px;
  background: linear-gradient(to right, #ff3019 0%, #c90477 100%);
  padding: 1rem 2rem;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  transition: all 0.2s ease-in-out;
  margin-right: 10px;
  position: absolute;
  top: 300px;
  left: 54px;
  align-self: center;
  font-family: system-iu, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 25px 20px -15px rgba(0, 0, 0, 0.9);
}

.rightbtn-roof {
  min-width: 110px;
  background: linear-gradient(to right, #ff3019 0%, #c90477 100%);
  padding: 1rem 2rem;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  transition: all 0.2s ease-in-out;
  margin-right: 10px;
  position: absolute;
  top: 210px;
  right: 130px;
  align-self: center;
  font-family: system-iu, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 25px 20px -15px rgba(0, 0, 0, 0.9);
}

.leftbtn-sunday {
  min-width: 110px;
  background: linear-gradient(to right, #ff3019 0%, #c90477 100%);
  padding: 1rem 2rem;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  transition: all 0.2s ease-in-out;
  margin-right: 10px;
  position: absolute;
  top: 450px;
  left: 200px;
  align-self: center;
  font-family: system-iu, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 25px 20px -15px rgba(0, 0, 0, 0.9);
}

.rightbtn-thelife {
  min-width: 110px;
  background: linear-gradient(to right, #ff3019 0%, #c90477 100%);
  padding: 1rem 2rem;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  transition: all 0.2s ease-in-out;
  margin-right: 10px;
  position: absolute;
  top: 35px;
  right: 150px;
  align-self: center;
  font-family: system-iu, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 25px 20px -15px rgba(0, 0, 0, 0.9);
}

.rightbtn-seiya {
  min-width: 110px;
  background: linear-gradient(to right, #ff3019 0%, #c90477 100%);
  padding: 1rem 2rem;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  transition: all 0.2s ease-in-out;
  margin-right: 10px;
  position: absolute;
  top: 50px;
  right: 30px;
  align-self: center;
  font-family: system-iu, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 25px 20px -15px rgba(0, 0, 0, 0.9);
}

.rightbtn-sakana {
  min-width: 110px;
  background: linear-gradient(to right, #ff3019 0%, #c90477 100%);
  padding: 1rem 2rem;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  transition: all 0.2s ease-in-out;
  margin-right: 10px;
  position: absolute;
  top: 50px;
  right: 54px;
  align-self: center;
  font-family: system-iu, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 25px 20px -15px rgba(0, 0, 0, 0.9);
}

.rightbtn-juku {
  min-width: 110px;
  background: linear-gradient(to right, #ff3019 0%, #c90477 100%);
  padding: 1rem 2rem;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  transition: all 0.2s ease-in-out;
  margin-right: 10px;
  position: absolute;
  top: 50px;
  right: 54px;
  align-self: center;
  font-family: system-iu, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 25px 20px -15px rgba(0, 0, 0, 0.9);
}
